# skip doxygen generated  files
doxygen/html/
doxygen/latex/

html
# in doxygen dir track only doxyfile and the hand maintained Zip file
doxygen/*
doxygen/doxyfile
!doxygen/OptiX.chm
#/.gitignore
~$*
*.o
*.a
*.cbp
*copie*
*.cscope*
*.def
*.depend
*.dll
*.exe
*.layout
*.mod
*.res
wigner3j.f95
ftypes.f95

# not maintained directories
bibliography/
removed/
bin/
solemio/



